.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}

.label {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #344256;
}

.input {
  width: 100%;
  padding: 17px;
  border-radius: 10px;
  border: 1px solid #e2e8f0;
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
