.rationSection {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 16px;
  border-radius: 12px;
  border: 1px solid #e2e8f0;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 0px #0000000d;
}

.tabs {
  display: flex;
  gap: 16px;
  border-bottom: 1px solid #e5e5e5;
}

.tab,
.activeTab {
  background: none;
  border: none;
  cursor: pointer;
  padding-bottom: 16px;

  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #64748b;
}

.activeTab {
  color: #4caf50;
  border-bottom: 2px solid #4caf50;
}

.list {
  display: flex;
  gap: 24px;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-bottom: 4px;
}
.list::-webkit-scrollbar {
  display: none;
}

.sliderCard {
  box-sizing: border-box !important;
  flex: 1 1 0% !important;
  min-width: 368 !important;
  width: auto !important;
  max-width: 100% !important;
}

.sliderWrapper {
  position: relative;
  width: 100%;
}

.sliderBtn {
  position: absolute;
  top: 198px;
  transform: translateY(-50%);
  z-index: 10;
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.1s;
}

.sliderBtn:active {
  transform: translateY(-50%) scale(0.95);
}

.sliderBtn:hover {
  background: transparent;
  transform: translateY(-50%) scale(1.05);
}

.sliderBtn svg {
  display: block;
}

.leftBtn {
  left: -20px;
}

.rightBtn {
  right: -20px;
}
