.rationSection {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 16px;
  border-radius: 12px;
  border: 1px solid #e2e8f0;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 0px #0000000d;
}

.tabs {
  display: flex;
  gap: 16px;
  border-bottom: 1px solid #e5e5e5;
}

.tab,
.activeTab {
  background: none;
  border: none;
  cursor: pointer;
  padding-bottom: 16px;

  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #64748b;
}

.activeTab {
  color: #4caf50;
  border-bottom: 2px solid #4caf50;
}

.list {
  display: flex;
  gap: 24px;
  overflow-x: auto;
}
