.whySection {
  width: 100%;
  background-color: #f5f5f5;
}

.container {
  max-width: 1128px;
  margin: 0 auto;
  padding: 100px 20px;

  display: flex;
  flex-direction: column;
  gap: 50px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;
}

.header h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #344256;
  margin: 0;
}

.header p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #64748b;
  max-width: 918px;
  margin: 0;
}

.cardList {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
