.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  border-radius: 12px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 #0000000d;
}

.title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #344256;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
}
