.missionSection {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.missionContent {
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.missionContent h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #344256;
  margin-top: 0;
  margin-bottom: 0;
}

.missionContent p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #64748b;
  max-width: 1044px;
  margin-top: 0;
  margin-bottom: 0;
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: center;
}
