.featuresSection {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 1128px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;
}

.header h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #344256;
  line-height: 26px;
  margin: 0;
}

.header p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #64748b;
  max-width: 947px;
  margin: 0;
}

.cardList {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
