.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
  padding: 30px;
  border-radius: 12px;
  border: 1px solid #e2e8f0;
  background-color: #ffffff;
}

.card h3 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #344256;
  margin: 0;
}

.card p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #64748b;
  max-width: 300px;
  margin: 0;
}
