.footer {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  background-color: #f5f5f5;
}

.footer p {
  max-width: 644px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #344256;
}
