.card {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid #e5e5e5;
  box-shadow: 0px 4px 8px 0px #15a24b0d;
  overflow: hidden;
}

.cardImage {
  width: 100%;
  height: 213px;
  object-fit: cover;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 16px 16px 16px;
}

.title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #344256;
  margin: 0;
}

.description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #64748b;
  margin: 0;
}

.infoWrap {
  display: flex;
  align-items: baseline;
  gap: 8px;
  font-family: "Inter", sans-serif;
}

.price {
  font-size: 20px;
  font-weight: 600;
  color: #344256;
}

.unit {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #64748b;
}

.portion {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #344256;
}

.nutrientLabel {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #64748b;
}

.nutrientBlock {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e2e8f0;
  padding-top: 12px;
}
.nutrient {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.nutrient span {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #344256;
}

.nutrient label {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #64748b;
}
