.myButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  border-radius: 10px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.primary {
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  padding: 12px 24px;
  font-weight: 600;
}

.primary .icon path {
  fill: #ffffff;
}

.secondary {
  padding: 16px 32px;
  border: 1px solid #e2e8f0;
  background-color: transparent;
  color: #344256;
  font-weight: 500;
  font-style: medium;
}
