.header {
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #dae7df;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
}

.container {
  max-width: 1128px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  padding-left: 20px;
  padding-right: 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo span {
  font-size: 24px;
  font-style: bold;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #344256;
}

.navLink {
  text-decoration: none;
  color: inherit;
}
