.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #344256;
  margin: 0;
}

.header p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #64748b;
  margin: 0;
}
