.page {
  display: flex;
  min-height: 100vh;
  background-color: #f9fafb;
}

.mainContent {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
